{% extends 'base.html' %}
{% block title %}
    部门管理
{% endblock %}

{% block content %}
    <div class="container">
        <button type="button" class="btn btn-primary" style="margin: 1% 0">新建部门</button>
        <table class="table table-hover">

            <caption><h2>部门列表</h2></caption>
            <thead>
            <tr>
                <th>ID</th>
                <th>部门名称</th>
                <th>部门代号</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for depart in departs %}
                <tr>
                    <th scope="row">{{ depart.id }}</th>
                    <td>{{ depart.title }}</td>
                    <td>{{ depart.dh }}</td>
                    <td>
                        <a href="{% url 'update_department' depart_id=depart.id %}" class="btn btn-primary btn-xs"
                           style="margin-right: 3%">编辑</a>
                        <a href="{% url 'delete_department' depart.id%}" class="btn btn-danger btn-xs">删除</a>
                    </td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
{% endblock %}