{% extends 'base.html' %}
{% block title %}
	员工管理
{% endblock %}

{% block content %}
	<div class="container">
        <a type="button" href="{% url 'add_employee' %}" class="btn btn-primary" style="margin: 1% 0">新增员工</a>
        <table class="table table-hover">
            <caption><h2>员工列表</h2></caption>
            <thead>
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>性别</th>
                <th>入职时间</th>
                <th>账户余额</th>
                <th>账户密码</th>
                <th>所属部门</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>张三</td>
                <td>12</td>
                <td>男</td>
                <td>2022-12-15</td>
                <td>3000000</td>
                <td>*****</td>
                <td>市场部</td>
                <td>
                    <a href="" class="btn btn-primary btn-xs" style="margin-right: 3%">编辑</a>
                    <a href="" class="btn btn-danger btn-xs">删除</a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>小刘</td>
                <td>42</td>
                <td>男</td>
                <td>2012-12-15</td>
                <td>300067000</td>
                <td>*****</td>
                <td>市场部</td>
                <td>
                    <a href="" class="btn btn-primary btn-xs" style="margin-right: 3%">编辑</a>
                    <a href="" class="btn btn-danger btn-xs">删除</a>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>王五</td>
                <td>22</td>
                <td>男</td>
                <td>2022-11-15</td>
                <td>30100000</td>
                <td>*****</td>
                <td>市场部</td>
                <td>
                    <a href="" class="btn btn-primary btn-xs" style="margin-right: 3%">编辑</a>
                    <a href="" class="btn btn-danger btn-xs">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}